//Tipografia
$fuente_principal: "Ubuntu", sans-serif;

//Colores
$negro1: #1e2124;
$gris: #353b41;
$grisClaro: #525b66;
$grisClaro2: #6d767e;
$negro: #000000;
$blanco: #ffffff;
$verde: #00ff00;
$amarillo: #ffe24e;

//tamaños de Media Queries
$telefono: 400px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
