@use "../base/mixins" as m;
@use "../base/variables" as v;
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css");

footer {
  background-color: v.$negro1;

  .nav-footer {
    padding: 2rem;
    @include m.tablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.nav-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin: 2rem;
    color: v.$blanco;
    .gg-instagram,
    .fa-github {
      transform: scale(200%);
    }
    transition: 0.3s;
    font-size: 2.4rem;
    margin-bottom: 1rem;

    &:hover {
      color: v.$amarillo;
      transform: scale(105%);
      transition: 0.3s;
    }
  }
}
